<div *ngFor="let notification of notifications; let index = index; trackBy: trackById" class="overflow-visible px-4" @notification>
    <div #notificationContent class="relative px-6 py-4 flex rounded-2xl shadow-xl shadow-slate-950 backdrop-blur-xl bg-slate-800/75 
        outline outline-2 outline-slate-700" 
        [ngClass]="{
            'flex-row': !notification.actions || notification.actions.length === 1,
            'flex-col': notification.actions && notification.actions.length > 1,
            'text-loubottin-400': notification.state === 'success',
            'text-red-400': notification.state === 'warn'
        }"
        [ngStyle]="{zIndex: 51 + index}"
        [@grow]="{
            value: notification.message.length + (notification.state ?? '') + notification.actions?.length,
            params: {startHeight: notificationContent.clientHeight, opacity: 1}
        }">
        <div class="flex-1 flex flex-row items-stretch gap-4">
            <div *ngIf="notification.icon || notification.state" class="max-h-12 flex items-center flex-none">
                <lucide-icon [name]="notification.icon ?? (
                    notification.state === 'pending' ? 'loader' : (
                    notification.state === 'success' ? 'check-circle' : (
                    notification.state === 'warn' ? 'alert-triangle' : '')))" [ngClass]="{
    
                    'h-6 w-6': true,
                    'text-slate-500 animate-spin': notification.state === 'pending',
                    'text-loubottin-400': notification.state === 'success',
                    'text-red-400': notification.state === 'warn'
                }"></lucide-icon>
            </div>
            <div class="flex-1 self-center">
                {{notification.message}}
            </div>
        </div>
        <div class="max-h-12 flex flex-row flex-wrap gap-2 items-center justify-end flex-none -mr-2">
            <button *ngFor="let action of notification.actions" (click)="action.action(notification)" class="hover:before:bg-slate-700">
                <lucide-icon [name]="action.icon" *ngIf="action.icon"></lucide-icon> {{action.text}}
            </button>
            <button *ngIf="notification.state !== 'pending' && !notification.actions" class="button-icon hover:before:bg-slate-700" (click)="notification.close()">
                <lucide-icon name="x"></lucide-icon>
            </button>
        </div>
    </div>
</div>