<section class="fixed w-screen h-screen top-0 left-0 flex flex-col items-center justify-start bg-slate-900/50 backdrop-blur-xl z-50">
    <img src="assets/logo.png" loading="lazy" class="w-60 mt-8 rounded-full" />
    <h1 class="mt-8 text-loubottin-400">Loup Bottin</h1>
    <div class="mt-12 flex flex-col">
        <h2 class="mb-6">Connectez-vous à votre compte</h2>
        <form [formGroup]="signInForm" (ngSubmit)="signIn()" class="flex flex-col items-start gap-6">
            <input type="email" formControlName="email" placeholder="Adresse email" class="w-full" />
            <input type="password" formControlName="password" placeholder="Mot de passe" class="w-full" />
            <button type="submit" class="button-flat place-self-center">
                Connection <ng-icon name="featherChevronRight"></ng-icon>
            </button>
        </form>
    </div>
</section>