<div [formGroup]="searchForm" class="w-full my-24 sticky -top-1 pt-9 pb-8 z-30 bg-slate-900/75 backdrop-blur-xl">
    <div class="max-w-screen-xl flex flex-col mx-auto px-8">
        <div class="relative">
            <input type="text" placeholder="Rechercher" formControlName="terms" (ngModelChange)="searchForm.updateValueAndValidity()" 
                    class="px-12 w-full rounded-full shadow-lg peer" />
            <lucide-icon name="search" ngClass="absolute h-full left-4 text-slate-500 peer-focus:text-loubottin-500"></lucide-icon>
            <button class="absolute right-0.5 top-0.5 button-icon hover:before:bg-slate-700" 
                *ngIf="searchForm.get('terms')?.value" (click)="searchForm.get('terms')?.reset()">
                <lucide-icon name="x"></lucide-icon>
            </button>
        </div>
        <div class="flex flex-row flex-wrap items-center gap-4 mt-8">
            <span class="text-slate-400">Tags</span>
            <button *ngFor="let tag of tags | keyvalue" class="button-flat button-filter" [ngClass]="{
                'active': searchForm.get('tags')?.value?.includes($any(tag.key))
            }" (click)="toggleTagsFilter($any(tag.key))">
                <lucide-icon [name]="searchForm.get('tags')?.value?.includes($any(tag.key)) ? 'check-square' : tag.value.icon"></lucide-icon>
                {{tag.key}}
            </button>
        </div>
    </div>
</div>

<div class="w-full max-w-screen-xl mx-auto my-8">
    <h2 *ngIf="contacts?.length === 0" class="mx-8 mb-8 text-slate-500">
        Aucun résultat
    </h2>
    <div class="mx-8 rounded-xl overflow-hidden flex flex-wrap gap-4 bg-slate-800"
        [ngClass]="{'animate-bg': states.search.pending}">
        <ng-container *ngIf="!contacts">
            <div *ngFor="let _ of [0,0,0,0]" class="contact contact-placeholder">
                <div class="flex items-start gap-2">
                    <div class="w-6 h-6 bg-slate-700 rounded-xl"></div>
                    <div class="w-48 h-6 bg-slate-700 rounded-xl mb-2"></div>
                </div>
                <div class="flex items-start gap-2">
                    <div class="w-6 h-6 bg-slate-700 rounded-xl"></div>
                    <div>
                        <div class="w-48 h-4 bg-slate-700 rounded-xl mb-2 mt-1"></div>
                        <div class="w-40 h-4 bg-slate-700 rounded-xl mb-2"></div>
                        <div class="w-52 h-4 bg-slate-700 rounded-xl mb-2"></div>
                    </div>
                </div>
            </div>
        </ng-container>
        <div *ngIf="contacts && canSetContact" class="contact p-0 bg-slate-900">
            <button class="w-full h-full flex flex-col gap-1 items-center justify-center outline-dashed outline-2 -outline-offset-2 outline-slate-800
                text-slate-700 hover:outline-loubottin-500 hover:text-loubottin-500 hover:bg-slate-800 group"
                (click)="setContactForm.reset({}); isSetContact = true">
                <lucide-icon name="plus" ngClass="w-8 h-8 group-hover:text-loubottin-500"></lucide-icon>
                Nouveau contact
            </button>
        </div>
        <div *ngFor="let item of contacts; trackBy: trackById" class="contact"
            [ngClass]="{'cursor-pointer hover:bg-slate-700': canSetContact}"
            (click)="setContactForm.reset(item); isSetContact = true">
            <div class="flex items-start gap-2">
                <lucide-icon *ngFor="let tag of item.tags" [name]="tags ? tags[tag].icon : ''" [ngClass]="{
                    'text-loubottin-400': tag === 'salarié',
                    'text-pink-400': tag === 'établissement'
                }"></lucide-icon>
                <div class="text-xl mb-2">{{item.name}}</div>
            </div>
            <div class="flex items-start gap-2" *ngIf="item.address">
                <lucide-icon name="map-pin" ngClass="text-slate-500"></lucide-icon>
                <div class="text-slate-400">{{item.address}}</div>
            </div>
            <div class="flex items-start gap-2" *ngIf="item.mobile">
                <lucide-icon name="smartphone" ngClass="text-slate-500" ></lucide-icon>
                <div class="text-slate-400">{{item.mobile}}</div>
            </div>
            <div class="flex items-start gap-2" *ngIf="item.phone">
                <lucide-icon name="phone" ngClass="text-slate-500" ></lucide-icon>
                <div class="text-slate-400">{{item.phone}}</div>
            </div>
            <div class="flex-1"></div>
        </div>
    </div>
</div>

<div class="fixed w-full max-w-screen-lg bottom-0 left-1/2 -translate-x-1/2 z-40">
    <div *ngIf="isSetContact" @panel
        class="relative z-[41] p-4 md:p-12 rounded-t-2xl shadow-xl shadow-slate-950 bg-slate-800 outline outline-2 outline-slate-700">
        <h2 class="text-xl mb-8">{{setContactForm.get('id')?.value ? 'Mettre à jour' : 'Ajouter'}} un contact</h2>
        <form [formGroup]="setContactForm" (ngSubmit)="setContact()" class="flex flex-col gap-4" [ngClass]="{pending: this.states.setContact.pending}">
            <input type="text" formControlName="name" placeholder="Prénom et nom" class="w-full" />
            <input type="text" formControlName="address" placeholder="Adresse postale, code postal et ville" class="w-full" />
            <input type="email" formControlName="mail" placeholder="Adresse Email" class="w-full" />
            <input type="text" formControlName="mobile" placeholder="Numéro de mobile" class="w-full" />
            <input type="text" formControlName="phone" placeholder="Numéro de téléphone" class="w-full" />
            <div>Tags</div>
            <div formArrayName="tags" class="flex flex-row flex-wrap gap-4">
                <div *ngFor="let tag of tags | keyvalue; let index = index">
                    <input type="checkbox" [checked]="(setContactForm.get('tags')?.value ?? []).includes(tag.key)" (change)="setContactTags($event)"
                        [value]="tag.key" [id]="'tag-' + tag.key" />
                    <label [for]="'tag-' + tag.key">{{tag.key}}</label>
                </div>
            </div>
            <div class="flex flex-row gap-4 mt-4">
                <button type="button" (click)="deleteContact(setContactForm.get('id')?.value)" *ngIf="setContactForm.get('id')?.value"
                    class="button-warn">
                    <lucide-icon name="trash-2"></lucide-icon>
                    Supprimer
                </button>
                <div class="flex-1"></div>
                <button type="button" (click)="isSetContact = false; setContactForm.reset({})" class="hover:before:bg-slate-700">Annuler</button>
                <button type="submit" class="button-flat before:!bg-slate-700">
                    <lucide-icon name="loader" ngClass="animate-spin"></lucide-icon>
                    <lucide-icon name="save"></lucide-icon>
                    Enregistrer
                </button>
            </div>
        </form>
    </div>
</div>

<div class="fixed w-full h-full top-0 left-0  z-[39] transition-all backdrop-blur-xl" *ngIf="isSetContact" @panelBackdrop></div>