<ng-template #signInTemplate>
    <app-signin></app-signin>
</ng-template>

<ng-container *ngIf="session; else signInTemplate">

    <div class="w-full max-w-screen-xl px-8 mx-auto mt-8 flex items-center justify-between">
        <h1 class="text-loubottin-400">Loup Bottin</h1>
        <button class="button-warn" (click)="signOut()" *ngIf="session">
            Sign Out
            <ng-icon name="featherLogOut"></ng-icon>
        </button>
    </div>
    
    <div [formGroup]="searchForm" class="w-full max-w-screen-xl px-8 mx-auto my-24 flex flex-col sticky -top-1 pt-9 pb-2 bg-slate-900/50 backdrop-blur-xl">
        <div class="relative">
            <input type="text" placeholder="Rechercher" formControlName="terms" (ngModelChange)="searchForm.updateValueAndValidity()" 
                class="pl-12 w-full rounded-full shadow-lg peer" />
            <ng-icon name="featherSearch" class="absolute left-3 top-3 text-slate-500 peer-focus:text-loubottin-500"></ng-icon>
            <button class="button-icon absolute top-1 right-1 py-1.5" *ngIf="searchForm.get('terms')?.value" (click)="searchForm.get('terms')?.reset()">
                <ng-icon name="featherX"></ng-icon>
            </button>
        </div>
        <small class="text-slate-500 mt-2 place-self-end">
            Appuyez sur <span class="text-white bg-slate-700 px-1.5 rounded-md text-base">⏎</span> pour lancer la recheche
        </small>
    </div>
    
    <div class="w-full max-w-screen-xl px-8 mx-auto my-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
        <div *ngFor="let item of contacts; trackBy: trackById" class="contact"
            (click)="currentContact = item" [ngClass]="{active: currentContact?.id === item.id}">
            <div class="text-xl mb-4 contact-title">{{item.name}}</div>
            <div class="flex items-start gap-1">
                <ng-icon name="featherMapPin" class="text-slate-500"></ng-icon>
                <div [ngClass]="{'text-slate-400': currentContact?.id !== item.id}">{{item.address}}</div>
            </div>
            <div class="flex items-start gap-1" *ngIf="item.mobile">
                <ng-icon class="text-slate-500" name="featherSmartphone"></ng-icon>
                <div [ngClass]="{'text-slate-400': currentContact?.id !== item.id}">{{item.mobile}}</div>
            </div>
            <div class="flex items-start gap-1" *ngIf="item.phone">
                <ng-icon class="text-slate-500" name="featherPhone"></ng-icon>
                <div [ngClass]="{'text-slate-400': currentContact?.id !== item.id}">{{item.phone}}</div>
            </div>
        </div>
    </div>
</ng-container>
